
$font-family: 'Avenir', Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-size-m: .9rem;
$font-size-s: .8rem;

$global-margin: .8rem;
$global-margin-s: .5rem;
$global-margin-l: 1.4rem;

$global-padding: .8rem;
$global-padding-s: .5rem;
$global-padding-l: 1.5rem;