@import './config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

button {
  background: #fff;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: $global-padding-s;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background: #f9f9f9;
    }
}